[user]
	email = aniketsinghresearch@gmail.com
	name = Aniket Singh
[alias]
	pu = push origin master
	a = add
	c = commit -m
	s = status
	d = diff HEAD 
    cpp = "!f() { git commit -m \"$1\" && git push; }; f"
